body{
  padding: 0;
  margin: 0;
  background: #e9fcfc;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
}
label{
  position: absolute;
  height: 100%;
  width: 100%;
  animation: z-index 3520ms linear infinite;
}
@keyframes z-index {
  0%{z-index: 100;}
  100%{z-index: 1;}
}
span{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: animate 880ms cubic-bezier(.445,.05,.55,.95) infinite alternate;
}
@keyframes animate {
  0%{transform: translate(-98%, 0);}
  100%{transform: translate(98%, 0);}
}
label:nth-child(1) span{
  background: linear-gradient(315deg, #0055dd, #0077ff, #66adff);
}
label:nth-child(2) span{
  background: linear-gradient(225deg, #dd0000, #ee3333, #ff7755);
}
label:nth-child(3) span{
  background: linear-gradient(90deg, #007744, #009944, #55bb55);
}
label:nth-child(4) span{
  background: linear-gradient(0deg, #ffaa33, #ffcc00, #ffdd66);
}
label:nth-child(1){
  animation-delay: 2620ms;
  transform: rotate(45deg);
}
label:nth-child(2){
  animation-delay: 1760ms;
  transform: rotate(135deg);
}
label:nth-child(3){
  transform: rotate(225deg);
}
label:nth-child(4){
  animation-delay: 880ms;
  transform: rotate(315deg);
}
